.cmln-add-alias, .cmln-remove-alias {
	cursor: pointer;
	display: inline-block;
	margin: .02em 0 0 0;
	padding: 0 .2em 0 0;
	font-size: 2.1em;
}

.cmln-alias-field {
	width:15em;
	display: inline-block;
}

.cmln-generated-aliases { display: inline-block;}
.cmln-alias-field-wrap { display: block;}
.cmln-alias-template { display:none; }

p.cmln-desc { 
	padding: 1em;
	display: inline-block;
}

.cmln-error {
	color: #d00 !important;
	font-weight: bold !important;
}

input.cmln-alias-field.cmln-field-error { border-left: 3px solid #d00 ; }